In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import os
import psycopg2 as pg
import pandas.io.sql as pd_sql
import seaborn as sns
import pickle
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

/home/zhouza/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
df_virus_load = pd.read_csv('Data/train.csv',sep=',')
df_spray_load = pd.read_csv('Data/spray.csv',sep=',')
df_weather_load = pd.read_csv('Data/weather.csv',sep=',')

In [40]:
df_virus_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
Date                      10506 non-null object
Address                   10506 non-null object
Species                   10506 non-null object
Block                     10506 non-null int64
Street                    10506 non-null object
Trap                      10506 non-null object
AddressNumberAndStreet    10506 non-null object
Latitude                  10506 non-null float64
Longitude                 10506 non-null float64
AddressAccuracy           10506 non-null int64
NumMosquitos              10506 non-null int64
WnvPresent                10506 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.0+ KB

In [41]:
df_spray_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
Date         14835 non-null object
Time         14251 non-null object
Latitude     14835 non-null float64
Longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [42]:
df_weather_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

zhouza@Lilith:/media/zhouza/Storage/Metis/MetisProject03/Data\$ ls

spray.csv  train.csv  weather.csv  west_nile

zhouza@Lilith:/media/zhouza/Storage/Metis/MetisProject03/Data\$ scp *.csv my_aws:~

spray.csv                                     100%  778KB 777.5KB/s   00:00    
train.csv                                     100% 1755KB   1.7MB/s   00:00    
weather.csv                                   100%  350KB 349.8KB/s   00:00 


ubuntu@ip-172-31-25-151:~\$ psql

psql (9.5.12)

Type "help" for help.

ubuntu=# CREATE DATABASE west_nile;

CREATE DATABASE

ubuntu=# \connect west_nile

You are now connected to database "west_nile" as user "ubuntu".

In [2]:
# Postgres info to connect

connection_args = {
    'host': '18.222.80.148', # You'll have to update this to your IP
    'user': 'ubuntu',    # username
    'dbname': 'west_nile',   # DB that we are connecting to
    'port': 5432         # port we opened on AWS
}

connection = pg.connect(**connection_args)
cursor = connection.cursor()

In [341]:
cursor.execute('BEGIN;')
query = '''
    CREATE TABLE spray_load
    (date TEXT, time TEXT, latitude DOUBLE PRECISION, longitude DOUBLE PRECISION)
    ;
    COPY spray_load FROM '/home/ubuntu/spray.csv' DELIMITER ',' CSV HEADER;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [342]:
cursor.execute('BEGIN;')
query = '''
    CREATE TABLE virus_load
    (date TEXT, address TEXT, species TEXT, block INT, street TEXT, trap TEXT, address_short TEXT, 
    latitude DOUBLE PRECISION, longitude DOUBLE PRECISION, address_accuracy INT, freq INT, virus_present INT
    )
    ;
    COPY virus_load FROM '/home/ubuntu/train.csv' DELIMITER ',' CSV HEADER;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [343]:
cursor.execute('BEGIN;')
query = '''
    CREATE TABLE weather_load
    (station INT,
    date TEXT,
    tmax INT,
    tmin INT,
    tavg TEXT,
    delta TEXT,
    dewpt INT,
    wetbulb TEXT,
    heat TEXT,
    cool TEXT,
    sunrise TEXT,
    sunset TEXT,
    codesum TEXT,
    snowdepth TEXT,
    snowwater TEXT,
    snowfall TEXT,
    precip TEXT,
    pressure TEXT,
    sealvlpressure TEXT,
    windspeed DOUBLE PRECISION,
    winddirection INT,
    avgspeed TEXT 
    );
    COPY weather_load FROM '/home/ubuntu/weather.csv' DELIMITER ',' CSV HEADER;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [344]:
# convert date to date type instead of string
cursor.execute('BEGIN;')
query = '''
    ALTER TABLE spray_load
    ADD COLUMN date_type date
    ;
    ALTER TABLE virus_load
    ADD COLUMN date_type date
    ;
    ALTER TABLE weather_load
    ADD COLUMN date_type date
    ;
    UPDATE spray_load
    SET date_type = to_date(date,'YYYY-MM-DD')
    ;
    UPDATE virus_load
    SET date_type = to_date(date,'YYYY-MM-DD')
    ;
    UPDATE weather_load
    SET date_type = to_date(date,'YYYY-MM-DD')
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [345]:
cursor.execute('BEGIN;')
query = '''
    CREATE TABLE spray
    AS SELECT DISTINCT * FROM spray_load
    ;
    CREATE TABLE weather
    AS SELECT DISTINCT * FROM weather_load
    ;
    CREATE TABLE virus
    AS SELECT DISTINCT * FROM virus_load
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [347]:
def find_data_inconsistency(table_name):
    '''For a table in a database, identify distinct non-numeric values and their counts
    '''
    df = pd_sql.read_sql('SELECT * FROM ' + table_name + ';', connection)
    column_list = df.dtypes[(df.dtypes=='object') 
                                         & (df.columns != 'date') 
                                         & (df.columns != 'date_type')].index
    query_list = []
    for i in column_list:
        query_block = '''SELECT \'''' + i + '\' AS colname,' + i + ''' AS val,COUNT(*)\
            FROM ''' + table_name + '''\
            WHERE trim(''' + i + ''') !~ \'[0-9]\'\
            OR trim(''' + i + ''') = \'\'\
            GROUP BY ''' + i
        query_list.append(query_block)
    query = ' UNION '.join(query_list)
    return pd_sql.read_sql(query + ' ORDER BY 1,3 DESC', connection)

In [348]:
def update_table(table_name,column_name,find_value,replace_value):
    '''For a table in a database, replace values in a column
    '''
    query = '''\
        UPDATE ''' + table_name + '''\
        SET ''' + column_name + ''' = ''' + replace_value + '''\
        WHERE TRIM(''' + column_name + ''') = ''' + find_value + ';'
    cursor.execute(query)

In [349]:
# M is frequently used to mean "missing" but should be null
# T is used to mean 0 (per documentation on data)
# - is used when sunrise/sunset data not provided - these should be null

find_data_inconsistency('weather')

            colname                   val  count
0          avgspeed                     M      3
1           codesum                         1609
2           codesum                    RA    296
3           codesum                 RA BR    238
4           codesum                    BR    110
5           codesum            TSRA RA BR     92
6           codesum                 BR HZ     81
7           codesum              RA DZ BR     65
8           codesum               TSRA RA     43
9           codesum                    HZ     39
10          codesum              RA BR HZ     38
11          codesum                  TSRA     34
12          codesum                 RA DZ     22
13          codesum               TSRA BR     21
14          codesum         TS TSRA RA BR     19
15          codesum                 RA HZ     16
16          codesum                 TS RA     13
17          codesum         TSRA RA BR HZ     12
18          codesum            TS TSRA BR     10
19          codesum                 DZ BR     10
20          codesum                    TS     10
21          codesum              DZ BR HZ      9
22          codesum              TS RA BR      8
23          codesum            TSRA BR HZ      8
24          codesum                    DZ      8
25          codesum            TS TSRA RA      7
26          codesum           RA DZ BR HZ      7
27          codesum               TS TSRA      7
28          codesum         TS TSRA BR HZ      7
29          codesum               TSRA HZ      4
..              ...                   ...    ...
84          codesum                 TS HZ      1
85          codesum            BR HZ VCFG      1
86          codesum         TSRA RA HZ FU      1
87          codesum            RA BR VCFG      1
88          codesum       RA DZ FG+ FG BR      1
89          codesum        TSRA RA FG+ BR      1
90          codesum      TS TSRA RA FG BR      1
91          codesum          TS TSRA VCFG      1
92          codesum             RA FG+ BR      1
93          codesum              RA FG BR      1
94          codesum             FG+ FG BR      1
95          codesum          RA DZ FG+ BR      1
96          codesum           FG+ BCFG BR      1
97          codesum    TS TSRA RA BR VCTS      1
98          codesum  TSRA DZ FG+ FG BR HZ      1
99             cool                     M     11
100           delta                     M   1472
101            heat                     M     11
102          precip                     T    318
103          precip                     M      2
104        pressure                     M      4
105  sealvlpressure                     M      9
106       snowdepth                     M   1472
107        snowfall                     M   1472
108        snowfall                     T     12
109       snowwater                     M   2944
110         sunrise                     -   1472
111          sunset                     -   1472
112            tavg                     M     11
113         wetbulb                     M      4

[114 rows x 3 columns]

In [350]:
# blanks in codesum aren't actually nulls, they are spaces 
pd_sql.read_sql('SELECT COUNT(*) FROM weather WHERE codesum = \' \';', connection)

   count
0   1609

In [351]:
# correct values found above

cursor.execute('BEGIN;')
for i in ['avgspeed','cool','delta','heat','precip','pressure','sealvlpressure','snowdepth','snowfall','snowwater','tavg','wetbulb']:
    update_table('weather',i,'\'M\'','null')
    
for i in ['precip','snowfall']:
    update_table('weather',i,'\'T\'','\'0\'')
    
for i in ['sunrise','sunset']:
    update_table('weather',i,'\'-\'','null')
    
update_table('weather','codesum','\'\'','\'NONE\'')

In [352]:
# validate update
find_data_inconsistency('weather')

    colname                   val  count
0   codesum                  NONE   1609
1   codesum                    RA    296
2   codesum                 RA BR    238
3   codesum                    BR    110
4   codesum            TSRA RA BR     92
5   codesum                 BR HZ     81
6   codesum              RA DZ BR     65
7   codesum               TSRA RA     43
8   codesum                    HZ     39
9   codesum              RA BR HZ     38
10  codesum                  TSRA     34
11  codesum                 RA DZ     22
12  codesum               TSRA BR     21
13  codesum         TS TSRA RA BR     19
14  codesum                 RA HZ     16
15  codesum                 TS RA     13
16  codesum         TSRA RA BR HZ     12
17  codesum                    TS     10
18  codesum            TS TSRA BR     10
19  codesum                 DZ BR     10
20  codesum              DZ BR HZ      9
21  codesum              TS RA BR      8
22  codesum                    DZ      8
23  codesum            TSRA BR HZ      8
24  codesum         TS TSRA BR HZ      7
25  codesum            TS TSRA RA      7
26  codesum               TS TSRA      7
27  codesum           RA DZ BR HZ      7
28  codesum                 RA SN      4
29  codesum                FG+ BR      4
..      ...                   ...    ...
68  codesum           TSRA FG+ BR      1
69  codesum              RA DZ SN      1
70  codesum            TS TSRA HZ      1
71  codesum          MIFG BCFG BR      1
72  codesum              RA BR FU      1
73  codesum        RA FG+ MIFG BR      1
74  codesum      TS TSRA GR RA BR      1
75  codesum               BCFG BR      1
76  codesum               BR VCTS      1
77  codesum       RA DZ FG+ BR HZ      1
78  codesum         RA BR HZ VCTS      1
79  codesum                   FG+      1
80  codesum            RA BCFG BR      1
81  codesum         RA BR HZ VCFG      1
82  codesum         TS TSRA RA HZ      1
83  codesum   TS TSRA RA FG BR HZ      1
84  codesum       TSRA BR HZ VCTS      1
85  codesum                 HZ FU      1
86  codesum               HZ VCTS      1
87  codesum            BR HZ VCFG      1
88  codesum         TSRA RA HZ FU      1
89  codesum            RA BR VCFG      1
90  codesum        TSRA RA FG+ BR      1
91  codesum             RA FG+ BR      1
92  codesum             FG+ FG BR      1
93  codesum    TS TSRA RA BR VCTS      1
94  codesum           FG+ BCFG BR      1
95  codesum  TSRA DZ FG+ FG BR HZ      1
96  codesum    TSRA RA BR HZ VCTS      1
97  codesum          RA DZ FG+ BR      1

[98 rows x 3 columns]

In [353]:
cursor.execute('COMMIT;')

In [354]:
# no issues here
find_data_inconsistency('virus')

     colname                                           val  count
0    address           South Doty Avenue, Chicago, IL, USA    212
1    address   South Stony Island Avenue, Chicago, IL, USA    181
2    address       South Torrence Avenue, Chicago, IL, USA    127
3    address  South Cottage Grove Avenue, Chicago, IL, USA    112
4    address      South Vincennes Avenue, Chicago, IL, USA     91
5    address                              Chicago, IL, USA     89
6    address     West Garfield Boulevard, Chicago, IL, USA     77
7    address        South Wallace Street, Chicago, IL, USA      8
8    species                        CULEX PIPIENS/RESTUANS   4469
9    species                                CULEX RESTUANS   2672
10   species                                 CULEX PIPIENS   2239
11   species                               CULEX TERRITANS    221
12   species                              CULEX SALINARIUS     85
13   species                                CULEX TARSALIS      6
14   species                               CULEX ERRATICUS      1
15    street                               W OHARE AIRPORT    612
16    street                                 S ASHLAND AVE    262
17    street                            S STONY ISLAND AVE    214
18    street                                    S DOTY AVE    212
19    street                                N OAK PARK AVE    199
20    street                                  N PULASKI RD    173
21    street                                   N CANNON DR    166
22    street                             W ARMITAGE AVENUE    154
23    street                                 S CENTRAL AVE    146
24    street                                   W ROOSEVELT    146
25    street                                      S KOLMAR    142
26    street                                  N MOSELL AVE    135
27    street                              N PITTSBURGH AVE    133
28    street                                     S BRANDON    130
29    street                                       W OHARE    128
..       ...                                           ...    ...
87    street                                    S STATE ST     26
88    street                              S CALIFORNIA AVE     26
89    street                                W BALMORAL AVE     26
90    street                                N AVONDALE AVE     24
91    street                              N CALIFORNIA AVE     23
92    street                                 N MANDELL AVE     23
93    street                                    S AVENUE G     23
94    street                                 W AGATITE AVE     22
95    street                                 W FARWELL AVE     22
96    street                                  W LELAND AVE     21
97    street                              S KILPATRICK AVE     21
98    street                                  N LAWLER AVE     21
99    street                                    S MACKINAW     21
100   street                                     S NORDICA     20
101   street                                 S CORNELL AVE     19
102   street                                 S MELVINA AVE     18
103   street                                  N AUSTIN AVE     18
104   street                                    N STAVE ST     17
105   street                                 S WESTERN AVE     16
106   street                                   N TRIPP AVE     15
107   street                                 W PERSHING RD     15
108   street                                      S THROOP     15
109   street                               W GRANVILLE AVE     14
110   street                                   W ROSCOE ST     14
111   street                                 E RANDOLPH ST     14
112   street                               W SUNNYSIDE AVE     12
113   street                                  S RACINE AVE      8
114   street                                  S WALLACE ST      8
115   street                                 S LONGWOOD DR      5
116   street                                  S HAMLIN AVE      2

[117 rows x 3 columns]

In [355]:
# "NA" should be null
find_data_inconsistency('spray')

  colname val  count
0    time  NA    584

In [356]:
# correct values found above
cursor.execute('BEGIN;')

update_table('spray','time','\'NA\'','null')

In [357]:
# validate update
find_data_inconsistency('spray')

Empty DataFrame
Columns: [colname, val, count]
Index: []

In [358]:
cursor.execute('COMMIT;')

In [359]:
# there are 2 weather stations with some different data - look at counts to determine which to make the primary source of data and use the other to supplement
pd_sql.read_sql('SELECT * FROM weather WHERE station = 1', connection).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 23 columns):
station           1472 non-null int64
date              1472 non-null object
tmax              1472 non-null int64
tmin              1472 non-null int64
tavg              1472 non-null object
delta             1472 non-null object
dewpt             1472 non-null int64
wetbulb           1469 non-null object
heat              1472 non-null object
cool              1472 non-null object
sunrise           1472 non-null object
sunset            1472 non-null object
codesum           1472 non-null object
snowdepth         1472 non-null object
snowwater         0 non-null object
snowfall          1472 non-null object
precip            1472 non-null object
pressure          1470 non-null object
sealvlpressure    1467 non-null object
windspeed         1472 non-null float64
winddirection     1472 non-null int64
avgspeed          1472 non-null object
date_type         1472 non-null object
dtypes: float64(1), int64(5), object(17)
memory usage: 264.6+ KB

In [360]:
pd_sql.read_sql('SELECT * FROM weather WHERE station = 2', connection).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 23 columns):
station           1472 non-null int64
date              1472 non-null object
tmax              1472 non-null int64
tmin              1472 non-null int64
tavg              1461 non-null object
delta             0 non-null object
dewpt             1472 non-null int64
wetbulb           1471 non-null object
heat              1461 non-null object
cool              1461 non-null object
sunrise           0 non-null object
sunset            0 non-null object
codesum           1472 non-null object
snowdepth         0 non-null object
snowwater         0 non-null object
snowfall          0 non-null object
precip            1470 non-null object
pressure          1470 non-null object
sealvlpressure    1468 non-null object
windspeed         1472 non-null float64
winddirection     1472 non-null int64
avgspeed          1469 non-null object
date_type         1472 non-null object
dtypes: float64(1), int64(5), object(17)
memory usage: 264.6+ KB

In [361]:
# join data from station 2 to station 1 and create a view with this information

cursor.execute('BEGIN;')

query = '''
    CREATE OR REPLACE VIEW weather_condensed AS
    SELECT t1.date_type date, t1.tmax, t1.tmin, CAST(t1.tavg AS DOUBLE PRECISION),
    CAST(COALESCE(t1.delta, t2.delta) AS DOUBLE PRECISION) delta,
    CAST(COALESCE(t1.dewpt, t2.dewpt) AS DOUBLE PRECISION) dewpt,
    CAST(COALESCE(t1.wetbulb, t2.wetbulb) AS DOUBLE PRECISION) wetbulb,
    CAST(COALESCE(t1.heat, t2.heat) AS DOUBLE PRECISION) heat,
    CAST(COALESCE(t1.cool, t2.cool) AS DOUBLE PRECISION) cool,
    COALESCE(t1.sunrise, t2.sunrise) sunrise,
    COALESCE(t1.sunset, t2.sunset) sunset,
    COALESCE(t1.codesum, t2.codesum) codesum,
    CAST(COALESCE(t1.snowdepth, t2.snowdepth) AS DOUBLE PRECISION) snowdepth,
    CAST(COALESCE(t1.snowfall, t2.snowfall) AS DOUBLE PRECISION) snowfall,
    CAST(COALESCE(t1.precip, t2.precip) AS DOUBLE PRECISION) precip,
    CAST(COALESCE(t1.pressure, t2.pressure) AS DOUBLE PRECISION) pressure,
    CAST(COALESCE(t1.sealvlpressure, t2.sealvlpressure) AS DOUBLE PRECISION) sealvlpressure,
    CAST(COALESCE(t1.windspeed, t2.windspeed) AS DOUBLE PRECISION) windspeed,
    CAST(COALESCE(t1.winddirection, t2.winddirection) AS DOUBLE PRECISION) winddirection,
    CAST(COALESCE(t1.avgspeed, t2.avgspeed) AS DOUBLE PRECISION) avgspeed    
    FROM weather t1 LEFT JOIN weather t2
    ON t1.date_type = t2.date_type
    WHERE t1.station = 1 and t2.station = 2
    ORDER BY 1
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [362]:
pd_sql.read_sql('SELECT * FROM weather_condensed;', connection).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 20 columns):
date              1472 non-null object
tmax              1472 non-null int64
tmin              1472 non-null int64
tavg              1472 non-null float64
delta             1472 non-null float64
dewpt             1472 non-null float64
wetbulb           1472 non-null float64
heat              1472 non-null float64
cool              1472 non-null float64
sunrise           1472 non-null object
sunset            1472 non-null object
codesum           1472 non-null object
snowdepth         1472 non-null float64
snowfall          1472 non-null float64
precip            1472 non-null float64
pressure          1471 non-null float64
sealvlpressure    1472 non-null float64
windspeed         1472 non-null float64
winddirection     1472 non-null float64
avgspeed          1472 non-null float64
dtypes: float64(14), int64(2), object(4)
memory usage: 230.1+ KB

In [363]:
# confirm there are no duplicates from the weather station join
pd_sql.read_sql('SELECT date,count(*) FROM weather_condensed GROUP BY date HAVING count(*)>1;', connection)

Empty DataFrame
Columns: [date, count]
Index: []

In [373]:
# confirm there are no duplicates from the mosquito trap data
pd_sql.read_sql('SELECT date,latitude,longitude,count(*) FROM spray GROUP BY date,latitude,longitude HAVING count(*)>1;', connection)

Empty DataFrame
Columns: [date, latitude, longitude, count]
Index: []

In [376]:
# "duplicates" by unique key will need to be summed
pd_sql.read_sql('SELECT date,block,trap,species,latitude,longitude,virus_present,count(*) FROM virus GROUP BY date,block,trap,species,latitude,longitude,virus_present HAVING COUNT(*)>1 ORDER BY 8 DESC;', connection)

,date,block,trap,species,latitude,longitude,virus_present,count
0,2013-06-14,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,10
1,2013-07-25,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,9
2,2013-07-08,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,9
3,2013-08-01,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,9
4,2007-08-01,22,T086,CULEX PIPIENS,41.688324,-87.676709,0,8
5,2011-06-10,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,8
6,2011-06-17,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,8
7,2009-08-13,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,7
8,2013-06-21,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,7
9,2013-07-25,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,7
10,2009-07-27,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,7
11,2013-08-29,10,T900,CULEX PIPIENS,41.974689,-87.890615,1,7
12,2011-06-30,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,7
13,2011-07-11,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,7
14,2009-06-03,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
15,2009-07-17,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
16,2009-07-31,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
17,2013-06-07,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,6
18,2009-07-27,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,6
19,2009-06-15,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
20,2013-07-12,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,6
21,2009-07-06,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
22,2007-08-01,22,T086,CULEX PIPIENS/RESTUANS,41.688324,-87.676709,0,6
23,2013-08-15,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
24,2009-07-13,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,6
25,2009-08-07,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,6
26,2013-09-12,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
27,2011-07-11,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,6
28,2013-07-19,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,5
29,2011-06-24,10,T900,CULEX RESTUANS,41.974689,-87.890615,0,5
...,...,...,...,...,...,...,...,...
627,2007-08-01,21,T154,CULEX PIPIENS/RESTUANS,41.918705,-87.752329,0,2
628,2007-07-25,24,T128,CULEX PIPIENS,41.704572,-87.565666,0,2
629,2009-07-13,13,T200,CULEX PIPIENS/RESTUANS,41.678618,-87.559308,0,2
630,2011-07-29,13,T230,CULEX PIPIENS/RESTUANS,41.904194,-87.756155,0,2
631,2013-07-19,40,T221,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,2
632,2009-07-06,22,T054,CULEX RESTUANS,41.921965,-87.632085,0,2
633,2013-08-29,67,T066,CULEX PIPIENS/RESTUANS,41.771660,-87.703047,0,2
634,2009-09-25,82,T225,CULEX PIPIENS/RESTUANS,41.743402,-87.731435,0,2
635,2013-08-29,91,T009,CULEX PIPIENS,41.992478,-87.862995,1,2
636,2007-09-19,11,T090,CULEX PIPIENS/RESTUANS,41.868077,-87.666901,0,2
637,2007-08-01,36,T011,CULEX PIPIENS/RESTUANS,41.944869,-87.832763,0,2
638,2007-10-04,61,T013,CULEX PIPIENS/RESTUANS,41.923738,-87.785288,0,2
639,2007-08-28,13,T200,CULEX PIPIENS,41.678618,-87.559308,0,2
640,2007-08-01,58,T028,CULEX PIPIENS/RESTUANS,41.986921,-87.689778,0,2
641,2007-08-01,10,T088,CULEX PIPIENS,41.869107,-87.696293,0,2
642,2007-08-17,40,T221,CULEX PIPIENS,41.659112,-87.538693,1,2
643,2009-09-14,10,T900,CULEX PIPIENS,41.974689,-87.890615,0,2
644,2007-08-01,71,T079,CULEX RESTUANS,41.766202,-87.562889,0,2
645,2009-09-14,82,T225,CULEX PIPIENS/RESTUANS,41.743402,-87.731435,0,2
646,2011-07-15,36,T011,CULEX PIPIENS/RESTUANS,41.944869,-87.832763,0,2
647,2011-09-12,10,T903,CULEX PIPIENS/RESTUANS,41.957799,-87.930995,0,2
648,2013-09-06,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,0,2
649,2007-08-15,15,T045,CULEX PIPIENS/RESTUANS,41.921600,-87.666455,0,2
650,2013-08-15,10,T900,CULEX PIPIENS/RESTUANS,41.974689,-87.890615,1,2
651,2013-07-08,10,T138,CULEX RESTUANS,41.726465,-87.585413,0,2
652,2013-06-27,70,T151,CULEX PIPIENS/RESTUANS,41.916265,-87.800515,0,2
653,2013-08-01,62,T236,CULEX PIPIENS/RESTUANS,41.994679,-87.770899,0,2
654,2011-09-02,11,T160,CULEX RESTUANS,41.903002,-87.688267,0,2
655,2007-08-22,10,T138,CULEX PIPIENS/RESTUANS,41.726465,-87.585413,0,2
656,2007-08-01,41,T002,CULEX PIPIENS/RESTUANS,41.954690,-87.800991,1,2

In [451]:
# summary of spray data - apparently spray attempts were limited to the below 10 days

query = '''
    select extract(year from date_type) as year,extract(month from date_type) as month,
    count(distinct extract(day from date_type)) from spray
    group by extract(year from date_type),extract(month from date_type)
    order by 1,2
    ;
'''

pd_sql.read_sql(query, connection)

     year  month  count
0  2011.0    8.0      1
1  2011.0    9.0      1
2  2013.0    7.0      2
3  2013.0    8.0      5
4  2013.0    9.0      1

In [364]:
# convert lat,long to radians for calculations within psql

cursor.execute('BEGIN;')
query = '''
    ALTER TABLE spray 
    ADD COLUMN lat_radians DOUBLE PRECISION,
    ADD COLUMN long_radians DOUBLE PRECISION
    ;
    ALTER TABLE virus 
    ADD COLUMN lat_radians DOUBLE PRECISION,
    ADD COLUMN long_radians DOUBLE PRECISION
    ;
    UPDATE spray
    SET lat_radians = RADIANS(latitude),
        long_radians = RADIANS(longitude)
    ;
    UPDATE virus
    SET lat_radians = RADIANS(latitude),
        long_radians = RADIANS(longitude)
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [365]:
# create view for mosquito trap data that includes the distance from the sprayed areas
# using flat earth approximation

cursor.execute('BEGIN;')

# in miles
# round requires (numeric,int) 
query = '''
    CREATE OR REPLACE VIEW spray_all AS
    SELECT DISTINCT t1.date_type date,t2.time,
    t1.latitude, t1.longitude,
    ROUND(CAST(3956* sqrt((pi()/2 - t1.lat_radians)^2 + (pi()/2 - t2.lat_radians)^2 - 2 * 
         (pi()/2 - t1.lat_radians) * (pi()/2 - t2.lat_radians) * 
         cos(t2.long_radians - t1.long_radians)) AS NUMERIC),2) spray_dist
    FROM virus t1 INNER JOIN spray t2
    ON t1.date_type = t2.date_type
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [484]:
# create new view that includes all mosquito trap data with the spray data included from above
# studies have shown that Zenifex (the spray) is most effective within 300 ft = 0.05 mi 
# include flag that indicates whether the area was sprayed based on distance within 0.05 mi

cursor.execute('BEGIN;')

query = '''
    CREATE OR REPLACE VIEW virus_join AS 
    WITH spray_closest AS (
        SELECT EXTRACT(YEAR FROM date) AS year, EXTRACT(MONTH FROM date) AS month,
        latitude,longitude,MIN(spray_dist) AS spray_dist
        FROM spray_all
        WHERE spray_dist is not null
        GROUP BY EXTRACT(MONTH FROM date),EXTRACT(YEAR FROM date),
        latitude,longitude
        ),
    spray_lag AS (
        SELECT year,month,latitude,longitude,spray_dist,
        LAG(spray_dist) OVER(PARTITION BY latitude,longitude ORDER BY year,month) AS last_spray_dist
        FROM spray_closest
        ),
    spray_prev AS (
        SELECT EXTRACT(YEAR FROM TO_DATE(year||'-'||month,'YYYY-MM')+interval '-1 month') AS year,
        EXTRACT(MONTH FROM TO_DATE(year||'-'||month,'YYYY-MM')+interval '-1 month') AS month,
        latitude,longitude,1 AS spray_targeted_prev
        FROM spray_closest
        WHERE spray_dist <= 0.05
        )
    SELECT DISTINCT t1.date_type date,t1.virus_present,
    EXTRACT(YEAR FROM t1.date_type) as year,
    EXTRACT(MONTH FROM t1.date_type) as month,
    t1.species,t1.latitude,t1.longitude,
    SUM(t1.freq) OVER(PARTITION BY t1.date_type,t1.species,t1.block,t1.trap,t1.latitude,t1.longitude) as mosquito_cnt,
    t2.tmax,t2.tmin,t2.tavg,t2.delta,t2.dewpt,t2.wetbulb,
    t2.heat,t2.cool,
    CAST(TRIM(SUBSTR(t2.sunrise,1,2)) AS NUMERIC)+CAST(SUBSTR(t2.sunrise,3,2) AS NUMERIC)/60.00 AS sunrise,
    CAST(TRIM(SUBSTR(t2.sunset,1,2)) AS NUMERIC)+CAST(SUBSTR(t2.sunset,3,2) AS NUMERIC)/60.00 AS sunset,
    t2.codesum,t2.snowdepth,
    t2.snowfall,t2.precip,t2.pressure,t2.sealvlpressure,t2.windspeed,t2.winddirection,t2.avgspeed,
    t3.spray_dist,t3.last_spray_dist,COALESCE(t4.spray_targeted_prev,0) AS spray_targeted_prev
    FROM virus t1 
    LEFT JOIN weather_condensed t2 
    ON t1.date_type = t2.date 
    LEFT JOIN spray_lag t3 
    ON EXTRACT(YEAR FROM t1.date_type) = t3.year AND EXTRACT(MONTH FROM t1.date_type) = t3.month
    AND t1.latitude = t3.latitude AND t1.longitude = t3.longitude
    LEFT JOIN spray_prev t4
    ON EXTRACT(YEAR FROM t1.date_type) = t4.year AND EXTRACT(MONTH FROM t1.date_type) = t4.month
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [483]:
# check duplicates again to see if any remain in downstream view
# block and trap are identifiers that have the same info as latitude and longitude so they have been excluded
pd_sql.read_sql('SELECT date,year,month,species,latitude,longitude,virus_present,count(*) FROM virus_join GROUP BY date,year,month,species,latitude,longitude,virus_present HAVING COUNT(*)>1 ORDER BY 8 DESC;', connection)

Empty DataFrame
Columns: [date, year, month, species, latitude, longitude, virus_present, count]
Index: []

In [499]:
# actually, turns out the way the data was collected is actually quite stupid because each "cohort" is not uniquely identifiable
# example from below - for the same location on the same day, there was no virus present in a group of 81 but there was at least one with the virus in a group of 98. 
# but these groups are in the same trap at the same location and you don't know whether the data could have equally been 178 negative and 1 positive
# 2007-08-17	CULEX PIPIENS	41.659112	-87.538693	0	50
# 2007-08-17	CULEX PIPIENS	41.659112	-87.538693	0	31
# 2007-08-17	CULEX PIPIENS	41.659112	-87.538693	1	50
# 2007-08-17	CULEX PIPIENS	41.659112	-87.538693	1	48

query = '''
    SELECT date,species,latitude,longitude,virus_present,freq
    FROM virus 
    WHERE (date,species,latitude,longitude) 
    IN (SELECT date,species,latitude,longitude
        FROM virus
        GROUP BY date,species,latitude,longitude
        HAVING count(*) > 1)
    ORDER BY latitude,longitude,date,species,virus_present
    ;
'''

pd_sql.read_sql(query, connection)

,date,species,latitude,longitude,virus_present,freq
0,2007-08-01,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,0,4
1,2007-08-01,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,0,7
2,2007-08-02,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,0,20
3,2007-08-02,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,0,1
4,2007-08-17,CULEX PIPIENS,41.659112,-87.538693,0,50
5,2007-08-17,CULEX PIPIENS,41.659112,-87.538693,0,31
6,2007-08-17,CULEX PIPIENS,41.659112,-87.538693,1,50
7,2007-08-17,CULEX PIPIENS,41.659112,-87.538693,1,48
8,2007-08-17,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,39
9,2007-08-17,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,49
10,2007-08-17,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,1,50
11,2009-07-13,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,2
12,2009-07-13,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,21
13,2009-07-17,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,50
14,2009-07-17,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,12
15,2013-07-19,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,50
16,2013-07-19,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,22
17,2013-07-19,CULEX RESTUANS,41.659112,-87.538693,0,50
18,2013-07-19,CULEX RESTUANS,41.659112,-87.538693,0,19
19,2013-07-25,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,15
20,2013-07-25,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,50
21,2013-07-25,CULEX RESTUANS,41.659112,-87.538693,0,50
22,2013-07-25,CULEX RESTUANS,41.659112,-87.538693,0,34
23,2013-07-25,CULEX RESTUANS,41.659112,-87.538693,0,17
24,2013-08-08,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,18
25,2013-08-08,CULEX PIPIENS/RESTUANS,41.659112,-87.538693,0,50
26,2007-08-01,CULEX PIPIENS,41.662014,-87.724608,0,7
27,2007-08-01,CULEX PIPIENS,41.662014,-87.724608,0,50
28,2007-08-01,CULEX PIPIENS,41.662014,-87.724608,1,10
29,2007-08-01,CULEX PIPIENS/RESTUANS,41.662014,-87.724608,0,35
...,...,...,...,...,...,...
1890,2013-08-08,CULEX PIPIENS,42.008314,-87.777921,0,23
1891,2013-08-08,CULEX PIPIENS/RESTUANS,42.008314,-87.777921,0,37
1892,2013-08-08,CULEX PIPIENS/RESTUANS,42.008314,-87.777921,0,46
1893,2013-08-22,CULEX PIPIENS,42.008314,-87.777921,0,43
1894,2013-08-22,CULEX PIPIENS,42.008314,-87.777921,0,21
1895,2013-08-22,CULEX PIPIENS/RESTUANS,42.008314,-87.777921,0,35
1896,2013-08-22,CULEX PIPIENS/RESTUANS,42.008314,-87.777921,0,25
1897,2013-08-08,CULEX PIPIENS/RESTUANS,42.009876,-87.807277,0,45
1898,2013-08-08,CULEX PIPIENS/RESTUANS,42.009876,-87.807277,1,50
1899,2013-08-22,CULEX PIPIENS,42.009876,-87.807277,0,18
1900,2013-08-22,CULEX PIPIENS,42.009876,-87.807277,1,48
1901,2013-08-29,CULEX PIPIENS/RESTUANS,42.009876,-87.807277,0,50
1902,2013-08-29,CULEX PIPIENS/RESTUANS,42.009876,-87.807277,1,50
1903,2007-07-11,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,37
1904,2007-07-11,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,14
1905,2007-07-11,CULEX RESTUANS,42.011601,-87.811506,0,8
1906,2007-07-11,CULEX RESTUANS,42.011601,-87.811506,0,4
1907,2007-07-18,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,15
1908,2007-07-18,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,19
1909,2007-08-01,CULEX PIPIENS,42.011601,-87.811506,0,8
1910,2007-08-01,CULEX PIPIENS,42.011601,-87.811506,0,50
1911,2007-08-01,CULEX PIPIENS,42.011601,-87.811506,0,14
1912,2007-08-01,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,33
1913,2007-08-01,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,9
1914,2007-08-15,CULEX PIPIENS,42.011601,-87.811506,1,18
1915,2007-08-15,CULEX PIPIENS,42.011601,-87.811506,1,50
1916,2007-08-15,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,0,49
1917,2007-08-15,CULEX PIPIENS/RESTUANS,42.011601,-87.811506,1,49
1918,2009-06-12,CULEX RESTUANS,42.011601,-87.811506,0,50
1919,2009-06-12,CULEX RESTUANS,42.011601,-87.811506,0,13

In [19]:
# for instances of positive virus, find the mosquito count of the cohort

query = '''
    WITH virus_max as (
    SELECT DISTINCT virus.*,
    MAX(virus_present) OVER(PARTITION BY date_type,species,latitude,longitude) AS virus_max
    FROM virus 
    ORDER BY 3,4,1,2
    )
    SELECT DISTINCT t1.date_type date,t1.virus_present,
    EXTRACT(YEAR FROM t1.date_type) as year,
    EXTRACT(MONTH FROM t1.date_type) as month,
    t1.species,t1.latitude,t1.longitude,
    SUM(t1.freq) OVER(PARTITION BY t1.date_type,t1.species,t1.latitude,t1.longitude) as mosquito_cnt
    FROM virus_max t1
    WHERE t1.virus_present = t1.virus_max
    ORDER BY 6,7,3,4,1,2
    LIMIT 10
    ;
'''

pd_sql.read_sql(query, connection)

,date,virus_present,year,month,species,latitude,longitude,mosquito_cnt
0,2007-08-01,0,2007.0,8.0,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,11
1,2007-08-02,0,2007.0,8.0,CULEX PIPIENS,41.644612,-87.604498,6
2,2007-08-02,0,2007.0,8.0,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,21
3,2007-08-07,0,2007.0,8.0,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,18
4,2007-08-07,0,2007.0,8.0,CULEX PIPIENS,41.644612,-87.604498,26
5,2007-08-15,0,2007.0,8.0,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,10
6,2007-08-15,0,2007.0,8.0,CULEX PIPIENS,41.644612,-87.604498,15
7,2007-08-22,0,2007.0,8.0,CULEX PIPIENS,41.644612,-87.604498,2
8,2007-08-22,1,2007.0,8.0,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,10
9,2007-08-24,0,2007.0,8.0,CULEX PIPIENS/RESTUANS,41.644612,-87.604498,2

In [20]:
# redefine virus_join as a result of above information

cursor.execute('BEGIN;')

query = '''
    CREATE OR REPLACE VIEW virus_join AS 
    WITH spray_closest AS (
        SELECT EXTRACT(YEAR FROM date) AS year, EXTRACT(MONTH FROM date) AS month,
        latitude,longitude,MIN(spray_dist) AS spray_dist
        FROM spray_all
        WHERE spray_dist is not null
        GROUP BY EXTRACT(MONTH FROM date),EXTRACT(YEAR FROM date),
        latitude,longitude
        ),
    spray_lag AS (
        SELECT year,month,latitude,longitude,spray_dist,
        LAG(spray_dist) OVER(PARTITION BY latitude,longitude ORDER BY year,month) AS last_spray_dist
        FROM spray_closest
        ),
    spray_prev AS (
        SELECT EXTRACT(YEAR FROM TO_DATE(year||'-'||month,'YYYY-MM')+interval '-1 month') AS year,
        EXTRACT(MONTH FROM TO_DATE(year||'-'||month,'YYYY-MM')+interval '-1 month') AS month,
        latitude,longitude,1 AS spray_targeted_prev
        FROM spray_closest
        WHERE spray_dist <= 0.05
        ),
    virus_max as (
        SELECT DISTINCT virus.*,
        MAX(virus_present) OVER(PARTITION BY date_type,species,latitude,longitude) AS virus_max
        FROM virus 
        ORDER BY 3,4,1,2
    ),
    virus_fix as (
        SELECT DISTINCT t1.date_type date,t1.virus_present,
        EXTRACT(YEAR FROM t1.date_type) as year,
        EXTRACT(MONTH FROM t1.date_type) as month,
        t1.species,t1.latitude,t1.longitude,
        SUM(t1.freq) OVER(PARTITION BY t1.date_type,t1.species,t1.latitude,t1.longitude) as mosquito_cnt
        FROM virus_max t1
        WHERE t1.virus_present = t1.virus_max
        ORDER BY 6,7,3,4,1,2
    )
    SELECT DISTINCT t1.*,
    t2.tmax,t2.tmin,t2.tavg,t2.delta,t2.dewpt,t2.wetbulb,
    t2.heat,t2.cool,
    CAST(TRIM(SUBSTR(t2.sunrise,1,2)) AS NUMERIC)+CAST(SUBSTR(t2.sunrise,3,2) AS NUMERIC)/60.00 AS sunrise,
    CAST(TRIM(SUBSTR(t2.sunset,1,2)) AS NUMERIC)+CAST(SUBSTR(t2.sunset,3,2) AS NUMERIC)/60.00 AS sunset,
    t2.codesum,t2.snowdepth,
    t2.snowfall,t2.precip,t2.pressure,t2.sealvlpressure,t2.windspeed,t2.winddirection,t2.avgspeed,
    t3.spray_dist,t3.last_spray_dist,COALESCE(t4.spray_targeted_prev,0) AS spray_targeted_prev
    FROM virus_fix t1 
    LEFT JOIN weather_condensed t2 
    ON t1.date = t2.date 
    LEFT JOIN spray_lag t3 
    ON t1.year = t3.year AND t1.month = t3.month
    AND t1.latitude = t3.latitude AND t1.longitude = t3.longitude
    LEFT JOIN spray_prev t4
    ON t1.year = t4.year AND t4.month = t4.month
    ;
'''

cursor.execute(query)
cursor.execute('COMMIT;')

In [21]:
# finally the cleaned/joined data can be pulled down
df_data = pd_sql.read_sql('SELECT * FROM virus_join;', connection)

In [14]:
df_data.columns

Index(['date', 'virus_present', 'year', 'month', 'species', 'latitude',
       'longitude', 'mosquito_cnt', 'tmax', 'tmin', 'tavg', 'delta', 'dewpt',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowdepth',
       'snowfall', 'precip', 'pressure', 'sealvlpressure', 'windspeed',
       'winddirection', 'avgspeed', 'spray_dist', 'last_spray_dist',
       'spray_targeted_prev'],
      dtype='object')

In [22]:
df_data['spray_targeted'] = df_data['spray_dist']<=0.05

In [23]:
df_data.to_pickle('pickles/df_data.pkl')

In [24]:
df_data.head()

,date,virus_present,year,month,species,latitude,longitude,mosquito_cnt,tmax,tmin,...,precip,pressure,sealvlpressure,windspeed,winddirection,avgspeed,spray_dist,last_spray_dist,spray_targeted_prev,spray_targeted
0,2009-06-19,0,2009.0,6.0,CULEX PIPIENS/RESTUANS,41.991429,-87.747113,11,86,65,...,3.97,28.97,29.70,7.2,18.0,11.6,NaN,NaN,0,False
1,2007-08-09,0,2007.0,8.0,CULEX TERRITANS,41.678618,-87.559308,19,84,72,...,0.05,29.13,29.84,2.5,29.0,6.0,NaN,NaN,0,False
2,2009-09-14,0,2009.0,9.0,CULEX PIPIENS/RESTUANS,41.948167,-87.730698,17,84,58,...,0.00,29.34,30.07,0.1,33.0,2.1,NaN,NaN,0,False
3,2007-08-15,0,2007.0,8.0,CULEX SALINARIUS,41.702724,-87.536497,1,80,71,...,0.23,29.17,29.89,3.4,7.0,5.8,NaN,NaN,0,False
4,2013-09-19,0,2013.0,9.0,CULEX PIPIENS/RESTUANS,41.964242,-87.757639,3,84,69,...,0.84,29.14,29.87,8.3,16.0,10.6,NaN,NaN,1,False

In [25]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8475 entries, 0 to 8474
Data columns (total 31 columns):
date                   8475 non-null object
virus_present          8475 non-null int64
year                   8475 non-null float64
month                  8475 non-null float64
species                8475 non-null object
latitude               8475 non-null float64
longitude              8475 non-null float64
mosquito_cnt           8475 non-null int64
tmax                   8475 non-null int64
tmin                   8475 non-null int64
tavg                   8475 non-null float64
delta                  8475 non-null float64
dewpt                  8475 non-null float64
wetbulb                8475 non-null float64
heat                   8475 non-null float64
cool                   8475 non-null float64
sunrise                8475 non-null float64
sunset                 8475 non-null float64
codesum                8475 non-null object
snowdepth              8475 non-null float64
snowfall               8475 non-null float64
precip                 8475 non-null float64
pressure               8475 non-null float64
sealvlpressure         8475 non-null float64
windspeed              8475 non-null float64
winddirection          8475 non-null float64
avgspeed               8475 non-null float64
spray_dist             1195 non-null float64
last_spray_dist        705 non-null float64
spray_targeted_prev    8475 non-null int64
spray_targeted         8475 non-null bool
dtypes: bool(1), float64(22), int64(5), object(3)
memory usage: 1.9+ MB